<br>
<div class="container">
  <div class="row">
    <p class="content">
      <code><a href="https://designmyeye.com.ar" target="_blank"> DME designmyeye</a></code>
      Le brinda estaherramienta de gestión de proyectos que hace que la colaboración sea sencilla y, me atrevería a decir, incluso divertida. La realidad es que sirve para casi todo, ya estés organizando proyectos en el trabajo, tareas del hogar, viajes o cualquier otra cosa. Aquí van algunas maneras en las que puedes utilizar DME para organizarte.
    </p>
  </div>
  <div class="row m-auto">
    <div class="col-12">
      <div class="example-container">
        <div class="d-flex flex-row bd-highlight3" style="width: 300px">
          <div class="bd-highlight">
            <h4>Todo</h4>
          </div>
          <div class="bd-highlight ml-auto">
            <span class="badge badge-secondary">{{todo.length}}</span>
          </div>
        </div>
        <div cdkDropList id="todoList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="['inProgressList']" class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="card example-box" *ngFor="let item of todo" cdkDrag (click)="onSelect(item)">
            <div class="card-body">
              <div class="d-flex flex-row bd-highlight3">
                <div class="bd-highlight">
                  <h6 class="card-subtitle mb-2 text-muted">{{item.name}}</h6>
                </div>
                <div class="bd-highlight ml-auto edit-icon">
                  <a href="javascript:;;"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </div>
              </div>
              <!-- <p class="card-text">{{cards.description}}.</p> -->
              <p style="font-size: 12px">Terminado: <span style="color: gray">{{item.createdOn | momentTimeAgo}}</span></p>
              <span style="color: gray" *ngFor="let assignie of item.assignies"><img src="https://www.shareicon.net/download/2015/09/18/103157_man_512x512.png"
                  [alt]="assignie.userId" width="40px" height="40px"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="example-container">
        <div class="d-flex flex-row bd-highlight3" style="width: 300px">
          <div class="bd-highlight">
            <h4>En Proceso</h4>
          </div>
          <div class="bd-highlight ml-auto">
            <span class="badge badge-secondary">{{inProgress.length}}</span>
          </div>
        </div>

        <div cdkDropList id="inProgressList" [cdkDropListData]="inProgress" [cdkDropListConnectedTo]="['todoList', 'completedList']"
          class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="card example-box" *ngFor="let item of inProgress" (click)="onSelect(item)" cdkDrag>
            <div class="card-body">
              <div class="d-flex flex-row bd-highlight3">
                <div class="bd-highlight">
                  <h6 class="card-subtitle mb-2 text-muted">{{item.name}}</h6>
                </div>
                <div class="bd-highlight ml-auto edit-icon">
                  <a href="javascript:;;"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </div>
              </div>
              <!-- <p class="card-text">{{cards.description}}.</p> -->
              <p style="font-size: 12px">Created: <span style="color: gray">{{item.createdOn
                  | momentTimeAgo}}</span></p>
              <span style="color: gray" *ngFor="let assignie of item.assignies"><img src="https://www.shareicon.net/download/2015/09/18/103157_man_512x512.png"
                  [alt]="assignie.userId" width="40px" height="40px"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="example-container">
        <div class="d-flex flex-row bd-highlight3" style="width: 300px">
          <div class="bd-highlight">
            <h4>Completado</h4>
          </div>
          <div class="bd-highlight ml-auto">
            <span class="badge badge-secondary">{{completed.length}}</span>
          </div>
        </div>

        <div cdkDropList id="completedList" [cdkDropListData]="completed" [cdkDropListConnectedTo]="['inProgressList']"
          class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="card example-box" *ngFor="let item of completed" (click)="onSelect(item)" cdkDrag>
            <div class="card-body">
              <div class="d-flex flex-row bd-highlight3">
                <div class="bd-highlight">
                  <h6 class="card-subtitle mb-2 text-muted">{{item.name}}</h6>
                </div>
                <div class="bd-highlight ml-auto edit-icon">
                  <a href="javascript:;;"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </div>
              </div>
              <!-- <p class="card-text">{{cards.description}}.</p> -->
              <p style="font-size: 12px">Created: <span style="color: gray">{{item.createdOn
                  | momentTimeAgo}}</span></p>
              <span style="color: gray" *ngFor="let assignie of item.assignies"><img src="https://www.shareicon.net/download/2015/09/18/103157_man_512x512.png"
                  [alt]="assignie.userId" width="40px" height="40px"></span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
