<!--Footer-->
<footer class="page-footer indigo center-on-small-only mt-3">
  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2018 Todos Los Derechos Reservados:
      <a href="mailto:info@designmyeye.com.ar"> DME-Commerce </a>

      <span style="float:right">
        <i class="fa fa-globe"></i>
        Web:
        <a href="https://designmyeye.com.ar" target="blank">Powered by DME Team</a>
      </span>
    </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->